Binaries
Build
Debug
DerivedDataCache
Intermediate
Saved
Plugins/Carla/Binaries
Plugins/Carla/Build
Plugins/Carla/CarlaServer
Plugins/Carla/CarlaDependencies
Plugins/Carla/Debug
Plugins/Carla/DerivedDataCache
Plugins/Carla/Intermediate
Plugins/Carla/Saved

#/Content
Content/*
!Content/Carla/
Content/Carla/*
!Content/Carla/Blueprints/
!Content/Carla/Static/
Content/Carla/Blueprints/*
Content/Carla/Static/*
!Content/Carla/Blueprints/Weather/
!Content/Carla/Static/Particles/
Content/Carla/Static/Particles/*
!Content/Carla/Static/Particles/rain/

Config/CarlaSettings.ini
Config/DefaultEditor.ini
Config/CarSimConfig.ini

*.code-workspace
.idea
.vscode
CMakeLists.txt
Makefile
